.container {
    text-align: center;
}

.jumbotron {
    background-color: goldenrod;
}

img {
    height: 150px;
    width: 200px;
    float: left;
    display: block;
}

#display-words {
    font-size: 40px;
}